{% extends 'base.html' %}
{% load beta_filters %}

{% block body %}
  <h1>This is the beta page!</h1>
  <h2>This is a video</h2>

  <form method="GET" action="{% url 'beta:search' %}">
      <input name="q" value="{{request.GET.q}}" placeholder="search..">
      <button type="submit">Search</button>
  </form>

  {% for video in beta_videos %}
  <div class="result p-3 border">
    <div class="row">
      <h4 class="d-block mx-auto">{{ video.name }}</h4>
    </div>
    <div class="row">
      <h6 class="d-block mx-auto">by {{ video.user }}</h6>
      </div>
    <div class="row">
      <div class="col-md-7 pl-5 pt-2 pb-2 text-right">
        {{ video.description|truncatechars:300 }}
      </div>
      <div class="col-md-5 text-left p-2">
        <img src="{{ video.picture }}" />
      </div>
    </div>
  </div>

  {% endfor %}


{% endblock %}
