header{
  background-color: white;
}

body{
  background-repeat:no-repeat;
  background-position: top;
  background-size: cover;
}

a, a:hover {
  color: inherit;
}

a:hover {
  text-decoration:none;
}

a.view-state :hover {
  color:grey;
}

.weather-forecast{
  height:400px;
  overflow:scroll;
}

.hidden{
  display:none;
  z-index: -1;
}

.weather-card{
  opacity:.95;
}

.state-name{
  color:white;
  text-shadow: 2px 2px 8px #000000;
}

.active-video{
  background-color:grey;
  color:white;
}

.weather-hover{
  opacity:1;
}

.pointer, .weather-hover{
  cursor:pointer;
}

.x{
  z-index: 10;
  position:absolute;
  left:1rem;
  color:red;

}
