{% extends 'base.html' %}
{% load area_filters %}

{% block body %}
<div class="title">
  <h2 class="text-uppercase display-4">{{ city.name }}, {{ city.state.abbrv }} <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png"> </h2>

</div>
<div class="row">
  <div class="col">
    <div class="weather">
      <h3>Today's weather </h3>
      {% load tz %}
      <h5> {{ city_weather.date|timezone:"America/Vancouver" }}</h5>
      <h5>{% now "l, jS F Y h:iA" %}</h5>
      <h5>Long. {{ city_weather.long }}</h5>
      <h5>Lat. {{ city_weather.lat }}</h5>
      <p clas="font-weight-bold">
        {{ city_weather.temperature }}&#186; F
      </p>
      <p class="text-capitalize">
        {{ city_weather.humidity }}
        {{ city_weather.description}}
      </p>
    </div>
    <div class="video-player">

    </div>
  </div>
  <div class="col">
    {% for video in videos %}
  <!--    <div class="d-none video-index">
        {{ video.index }}
      div>
      -->
      <div class="card text-center p-3 border-light">
        <img class="card-img-top mx-auto" style="width:295px; height:166px;" src="{{ video.picture }}" />
        <div class="card-body">
          <h5 class="card-title">{{ video.name }}</h5>
          <p class="card-text">
            {{ video.description|truncatechars:300 }}
          </p>
          <span>by <strong> {{ video.user }} </strong></span>
        </div>
      </div>
      {{ videos.video }}
    {% endfor %}
  </div>

</div>

<!-- script to get embed values. NEEDS WORK! --><!--
{% block script %}
<script>
  $(function(){
    $('.card-img-top').on('click', function(){
      var index = $(this).closest('div').find('video-index').innerHTML;
      console.log(index);
    });
  });

</script>
{% endblock %} -->
{% endblock %}
