{% extends 'base.html' %}
{% load area_filters %}

{% block head %}
<div class="p-1 text-center fixed-bottom bg-dark text-light">
  <div class="current-weather">
    <strong>Current weather in {{ city.name }}, {{ city.state.abbrv }}</strong>: {{ city_weather.temperature }}&#186; F | <span class="text-capitalize">{{ city_weather.description }}</span>  | <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png">
    <button type="button" class="five-day btn btn-light btn-sm">5-Day Forecast</button>
    <button type="button" class="map-embed btn btn-light btn-sm">Map</button>
  </div>
  <div class="weather-forecast hidden bg-light">
    <div class="x pointer">
      <i class="fas fa-times"></i> Close
    </div>
      <div class="col d-inline" style="width:100%; overflow:hidden; overflow:scroll; white-space: nowrap; font-size:0.8rem">
        {% for day, hour in forecast.items %}
        <table class="table d-inline">
          <tbody class="text-dark">
            <tr class="table-secondary">
              <td colspan="3">
                {{ day|day_converter }}
              </td>
            </tr>
            {% for temp in hour %}
            <tr>
              <td>{{ temp.dt|time_converter }}</td>
              <td>{{ temp.temp }}&#186; F <img src="http://openweathermap.org/img/w/{{ temp.icon }}.png"></td>
              <td class="text-capitalize">{{ temp.desc }}</td>
            </tr>
            {% endfor %}
           {% endfor %}
         </tbody>
        </table>
      </div>
  </div>

  <div class="city-map hidden">
    <div class="x pointer">
      <i class="fas fa-times"></i> Close
    </div>
    {{ map | safe }}
  </div>

</div>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-8">
    <div class="video-player mx-auto" style="width:80%; height:375px; overflow:inherit;">
      <iframe class="video" width="100%" height="100%" src="" frameBorder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <hr>
  </div>

  <div class="col-md-4 p-2">
    <div class="text-center p-2">
      <span class="text-uppercase"><strong>Videos</strong></span>
      <button type="button" class="btn btn-success play-all"><i class="fas fa-play"></i> All</button>
    </div>

    <div class="video-results" style="max-height:675px; overflow:scroll;">
       {% for video in videos %}
       <div class="video-card pointer p-3 border-light d-block">
         <div class="img" style="max-height:300px; overflow:hidden; width:100%;">
           <img class="mx-auto" style="max-width:295px" src="{{ video.thumbnail }}" />
         </div>
         <div class="p-1 video-info" style="width:100%;">
           <span><strong>{{ video.name }}</strong></span>
           <span class="video-author">by {{ video.author }}</span>
           <div class="embed" style="display:none;">
               {{ video.embed | safe }}
           </div>
         </div>
       </div>
       {% endfor %}
    </div>
  </div>

</div>
{% endblock %}

{% block script %}
  {% load static %}
  <script src="{% static 'areas/js/script.js' %}"></script>
{% endblock %}
