{% extends 'base.html' %}

{% load area_filters %}

{% block body %}

<h1 class="state-name text-uppercase text-center p-3">{{ state.name }}</h1>

<div class="weather-box text-center">
    {% for city_weather in weather_data %}
      {% for city in cities %}
        {% if city.name == city_weather.city %}
        <div class="weather-card card text-center m-2 d-inline-flex" style="width:18rem;">
          <div class="card-header text-capitalize" >
              {{ city.name }}
          </div>
          <div class="card-body">
            <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png">
            <h5 class="card-title">{{ city_weather.temperature }}&#186; F</h5>
            <div class="card-text text-capitalize">
              <p>
                {{ city_weather.description }}
              </p>
              <span>
                <a href="{% url 'areas:cities' city.state.slug city.slug %}">See more</a>
                </span>
            </div>
          </div>
        </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
</div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(function(){
      $('body').css("background-image", "url('{{ state.img.url }}')");

      $('.weather-card').hover(function(){
          $(this).toggleClass("weather-hover");
      });

      console.log('success!');
    });
  </script>
{% endblock %}
