{% extends 'base.html' %}

{% load area_filters %}

{% block body %}
<h2>This is the state page for {{ state.name }}!</h2>

<div class="weather-box text-center">
    {% for city_weather in weather_data %}
      {% for city in cities %}
        {% if city.name == city_weather.city %}
        <div class="weather-card card text-center m-2 d-inline-flex" style="width:18rem;">
          <div class="card-header text-capitalize" >
              {{ city.name }}
          </div>
          <div class="card-body">
            <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png">
            <h5 class="card-title">{{ city_weather.temperature }}&#186; F</h5>
            <div class="card-text text-capitalize">
              <p>
                {{ city_weather.description }}
              </p>
              <span>
                <a href="{% url 'areas:cities' city.state.slug city.slug %}">See more</a>
                </span>
            </div>
          </div>
        </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
</div>
{% endblock %}

{% block script %}
{% load static %}
  <script src="{% static 'areas/script.js' %}"></script>
{% endblock %}
