{% extends "base.html" %}
{% load climbing_filters %}
{% block body %}

  <h2>List of problems that exist in database</h2>
  {% if problem_list %}
    <ul>
      {% for problem in problem_list %}
        <li>{{ problem.problem_name }} - {{ problem.location }} - {{ problem.grade.all|join:", " }} - {{ problem.description }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p> No problems available</p>
  {% endif %}


  <h2> problems with grade filter (v4)</h2>
  {% with grade='V4' %}
  {% if grade|grade_filter %}
    {% for problem in grade|grade_filter %}
      {{ problem.problem_name }}
    {% endfor %}
  {% else %}
    <p> no climbs at this grade </p>
    {% endif %}
  {% endwith %}


{% endblock %}
